#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
}



@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.App{
    display: flex;
   flex :1;
}
.container {
  display: flex;
    flex-direction: row;
}
.core{
display: flex;
flex-direction: column;
  margin: -1rem 1rem 1rem 1rem;
}
.details{
    display: flex;
    flex-direction: column;
    margin: 1rem 1rem 1rem 1rem;
}